#!/usr/bin/env bash

export EDITOR=nvim

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Use Neovim for `man` pages.
export MANPAGER='nvim +Man!';
