[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
[pull]
	ff = only
[user]
	name = Gustavo Hoirisch
	email = 355877+gugahoi@users.noreply.github.com
[core]
	pager = delta
[interactive]
	difffilter = delta
[rerere]
	enabled = true
